<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nombre</key>
		<string>Gustavo</string>
		<key>apellidos</key>
		<string>Gamboa Cordeo</string>
		<key>fechaCreacion</key>
		<string>01/01/2010</string>
		<key>imagen</key>
		<string>gmb.jpg</string>
		<key>email</key>
		<string>example@example.com</string>
		<key>telefono</key>
		<string>+34 666 555 444</string>
		<key>direccion</key>
		<string>Calle Povedilla 4</string>
		<key>ciudad</key>
		<string>Madrid</string>
		<key>twitter</key>
		<string>@ggamboa</string>
	</dict>
</array>
</plist>
